/* adding css */
.for{
text-align: center;
}
input{
    width: 70%;
    border:none;
}
.field{
    display: inline-block;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    text-align: left;
}
.password{
    position: relative;
    top: -23px;

}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.action{
    border: 1px solid black;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 8px;
    

}
.btn{
  display: block; 
  margin: auto;
  width:89%;
  padding: 10px;
  background-color: #FEA409;
  
}
label{
    margin-left:30px ;
}
.bg-img {
    background: url(../../assets/images/sign-in.jpg) no-repeat center 0;
    position: relative;
    background-size: cover;
    background-position: 100% 45%;
    width: 100%;
    display: block;
    overflow: hidden;
}
.right-img, .img-content{
    height: 100vh;
}