.for{
text-align: center;
display: block;
width: 50vw;
 margin-left: auto;
 margin-right: auto;
}
input{
    width: 70%;
    border:none;
}
.field{
    display: inline-block;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    text-align: left;
}
.password{
    position: relative;
    top: -23px;

}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.action{
    border: 1px solid black;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 8px;
    

}
.btn{
  display: block; 
  margin: auto;
  width:91%;
  padding: 10px;
  background-color: rgb;
  
}
label{
    margin-left:30px ;
}

body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fcars.mclaren.com%2Fus-en&psig=AOvVaw1alOgq3MheVuAxP7icE5QH&ust=1635657644283000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKClttyx8fMCFQAAAAAdAAAAABAY");
}
